* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 6rem 0;
    min-height: 100vh;
    text-align: center;

    color: #fff;
    background: linear-gradient(60deg,
            rgba(19, 164, 194, 1) 41%,
            rgba(0, 0, 0, 1) 93%);
    text-transform: capitalize;
    font-family: sans-serif;
}

header {
    text-align: center;
    text-transform: uppercase;
}

input {
    text-align: center;
    text-transform: capitalize;
    width: min(500px, 80%);
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 6px;

}

ol {
    padding: min(4rem, 15%);
    width: min(300px, 70%);
    margin: auto;
    text-align: left;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 6px;
}

footer {
    text-align: left;
    padding: 0.3rem 2rem;
    color: #fff;
    background-color: #000;
    position: fixed;
    inset: auto 0 0 0;
}

footer a {
    color: #fff;
}